annotated-types
anyio
bcrypt
click
dnspython
ecdsa
exceptiongroup
fastapi
h11
idn
joblib
numpy
pandas
passlib
pyasn1
pydantic
pydantic_core
pymongo
python-dotenv
python-jose
rsa
scikit-learn
six
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
email-validator
